body {
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    
    text-align: center;
    width: 56%; 
    table-layout: fixed;
}
.btn {
    background-color: red;
}
.put {
    width: 295px;
    height: 25px;
}
.btn2 {
    height: 30px;
    font-size: 18px;
}
.centring {
    width: 60%;
    margin-left: 30%;
}


